@import "modules/variables/breakpoints.scss";
@import "modules/variables/grid.scss";
@import "modules/typography.scss";

.research_container {
  grid-column-start: 4;
  grid-column-end: $grid-columns;
  column-gap: 20px;
  row-gap: 20px;

  @media (max-width: $breakpoint--tablet) {
    grid-column-start: 3;
    grid-column-end: $grid-columns--tablet + 1;
  }

  @media (max-width: $breakpoint--mobile) {
    grid-column-start: 1;
    grid-column-end: $grid-columns--mobile + 1;
  }
}

.research {
  margin-top: 20px;
}

.research__title {
  @include f-size--m;
  text-transform: uppercase;
  color: $blue;
  margin-bottom: 5px;
}

a.research__title {
  text-decoration: none;
  font-weight: bold;
}

a.research__title:hover {
  text-decoration: underline;
}

.research__body{
  @include f-size--m-body;
}
